@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap');
@import './components/game/Game.scss';
@import './components/game/gameButton/GameButton.scss';
@import './components/results/Results.scss';
@import './components/rulesModal/RulesModal.scss';
@import './components/scoreSect/ScoreSect.scss';
@import './__global-vars.scss';

:root{
  // VARIABLES
--gradient-scissors: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
--gradient-paper: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
--gradient-rock: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
--gradient-lizard: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
--cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

--text-dark: hsl(229, 25%, 31%);
--text-score: hsl(229, 64%, 46%);
--outline-header: hsl(217, 16%, 45%);

--gradient-bg: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
}

svg{
  font-family: 'Barlow Condensed', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
